.contact-me {
	width: 650px;
	height: 840px;
	background-color: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
	float: right;
	position: relative;
}
.contact-me .headersection {
	position: absolute;
	left: -9999px;
}
.contact-me .box-header-container {
	width: 604px;
	background-color: #48cbe8; 
	border-bottom: 17px solid #67dffa;
	border-radius: 4px 4px 0 0;
	font: 27px 'fira_sansbook', 'Arial', sans-serif;
	color: #fff;
	padding: 42px 23px 38px 23px;
	margin-bottom: 42px;
	text-align: center;
}

.contact-me .contact-form {
	width: 402px;
	margin: 0 auto;
}

.contact-me .box-left {
	float: left;
	width: 193px;
}

.contact-me .box-right {
	float: right;
	width: 193px;
}

::-webkit-input-placeholder {
	font: 13px 'fira_sanslight', 'Arial', sans-serif;
	color: #48cde8;
}

::-moz-placeholder {
	font: 13px 'fira_sanslight', 'Arial', sans-serif;
	color: #48cde8;
}

:-moz-placeholder {
	font: 13px 'fira_sanslight', 'Arial', sans-serif;
	color: #48cde8;
}

:-ms-input-placeholder {
	font: 13px 'fira_sanslight', 'Arial', sans-serif;
	color: #48cde8;
}

:focus::-webkit-input-placeholder {
	color: transparent
}

:focus::-moz-placeholder {
	color: transparent
}

:focus:-moz-placeholder {
	color: transparent
}

:focus:-ms-input-placeholder {
	color: transparent
}


.contact-me .box-form,
.contact-me .box-textarea,
.contact-me .box-recaptcha,
.contact-me .box-buttons {
	margin-bottom: 12px;
}

.contact-me .name-label {
	font: 19px 'fira_sanslight', 'Arial', sans-serif;
	color: #959aa8;
}

.contact-me .textarea {
	width: 380px;
	height: 182px;
	resize: none;
	border-radius: 4px;
	border: 1px solid #48cbe8;
	outline: none;
	color: #48cbe8;
    background-color: #fff;
    font: 13px 'fira_sanslight', 'Arial', sans-serif;
	color: #48cde8;
	padding: 9px;
}

.contact-me .name-input {
	width: 171px;
	border-radius: 4px;
	border: 1px solid #48cbe8;
	outline: none;
	color: #48cbe8;
    background-color: #fff;
    font: 13px 'fira_sanslight';
	color: #48cde8;
	padding: 9px;
}

.contact-me .box-recaptcha {
	min-height: 107px;
}


.contact-me .buttonstyle {
	font: 19px 'fira_sansbook';
    height: 33px;
    padding: 1px 22px;
    color: #f6f6f6;
    border-style: solid;
    border-width: 0 0 2px;
    border-radius: 4px;
}

.contact-me .submit-in-form {
    border-color: #3ba8c0;
    background-color: #48cbe8;
    outline: none;
}

.contact-me .reser-in-form {
    border-color: #687b8f;
    background: #849db5;
    outline: none;
}

.contact-me .butreset {
	width: 126px;
}

.contact-me .submit-in-form:hover {
	border: none;
}

.contact-me .reser-in-form:hover {
	border: none;
}

.contact-me .reser-in-form:active {
	border-top: 2px solid #687b8f;
}

.contact-me .submit-in-form:active {
	border-top: 2px solid #3ba8c0;
}