.header {
	background: #eff3f7 url('../img/line.png') bottom center no-repeat;
	margin-bottom: 40px;
}

.header-top {
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
	padding-bottom: 36px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-top .logo {
	display: inline-block;
	margin-top: 39px;
}

.header-top .header-logo-txt {
	position: absolute;
	left: -9999px;
}

.header-top .social-btn {
	margin: 0;
	margin-top: 35px;
	padding: 0;
}

.social-btn {
	font-size: 0;
}

.social-btn .social-link {
	display: inline-block;
	width: 47px;
	height: 47px;
  	background-image: url('../img/sprites.png');
  	background-repeat: no-repeat;
	margin-left: 24px;
	text-indent: -9999px;
}

.social-btn .social-link:first-child {
	margin-left: 0;
}

.social-btn .social-link.vk-ico {
	background-position: 0 0;
}

.social-btn .social-link.twit-ico {
	background-position: -50px 0;
}

.social-btn .social-link.face-ico {
	background-position: -100px 0;
}

.social-btn .social-link.git-ico {
	background-position: -150px 0;
}

.social-btn .social-link:hover {
	background-position-y: -50px;
}