.wrapper {
    position: relative;
    min-height: 100%;
    min-width: 970px;
    height: auto;
    overflow: hidden;
}

.wrapper:after {
    content: " ";
    height: 80px;
    display: block;
}

.page-footer {
    min-width: 970px;
    height: 80px;
    margin-top: -80px;
}